body {
    width: 1000px;
    height: 600px;
    background-color: #6b076b;
    border: 5px solid black;
    text-align: center;
    margin: 10px auto;

}

.div-mayor {
    width: 50%;
    margin: 150px auto;
    border: 2px solid black;
    padding: 1em;
    background-color: sandybrown;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: center;

}

.text {
    color: rgb(7, 7, 8);
}